<div id="main" class="container">


   <h1 align="center">All Time Favorite</h1>


   <div class="row" style="display: flex; overflow-x: scroll">

     <div class="card" *ngFor="let number of numbers" >
        <div class="ui container">

           <img src="assets/podcast/card.png">

           <div class="four wide column"></div>
           <div class="eight wide column">
             <p style="font-size: 1.4em" >E05  8  Jul   , 12:21 PM</p>
             <p style="font-size: 1.4em" ><b>Mind Matters with Dr Shyam Bhat (Psychiatrist Integrative Medicine Specialist)</b></p>
           </div>

        </div>
      </div>


    <!--
    <div class="card">
      <img src="http://placehold.it/200x150">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    <div class="card">
      <img src="http://placehold.it/200x150">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    <div class="card">
      <img src="http://placehold.it/200x150">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    <div class="card">
      <img src="http://placehold.it/200x150">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    <div class="card">
      <img src="http://placehold.it/200x150">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    -->

  </div>
</div>
