<div id="footer" class="ui  vertical footer segment">
  <div class="ui container">
    <div class="ui stackable equal height stackable grid">

      <img id="nhr" src="assets/bottom/nhr.png" />

      <div class="row"></div>
      <div class="two wide column"></div>


      <div class="three wide column">



        <div class="text-block" id="f1" >
          {{c1}}
        </div>

      </div>


      <div class="three wide column">
        <h4 class="ui  header" style="color:white; font-family: Avenir">Quick Links</h4>
        <div  id="lst1" class="ui link list" >

          <a href="#" class="item">Discover NHRD</a>
          <a href="#" class="item">Knowledge Hub</a>
          <a href="#" class="item">Awards and Events</a>
          <a href="#" class="item">Initiatives</a>
          <a href="#" class="item">WomenToring</a>

        </div>
      </div>


      <div class="three wide column">
        <h4 class="ui  header" style="color:white; font-family: Avenir">More Help</h4>
        <div  id="lst2" class="ui link list" >

          <a href="#" class="item">FAQs</a>
          <a href="#" class="item">Blogs</a>
          <a href="#" class="item">Privacy Policy</a>
          <a href="#" class="item">Terms & Conditions</a>

        </div>
      </div>



      <div class="five wide column">

        <h4 class="ui  header" style="color:white; font-family: Avenir">Download Our App</h4>


        <div id="play" class="ui labeled icon button" style="width: 180px" >
          <i class="large google icon"></i>
          <p style="font-size: 0.6em">Get It On</p>
         GOOGLE PLAY
        </div>

        <br/>

        <div id="apl" class="ui labeled icon button">
          <i class="large apple icon"></i>
          <p style="font-size: 0.6em">Download On The</p>
         App Store
        </div>


      </div>




    </div>

    <br/>
    <div class="ui section divider"></div>

    <div class="ui grid">
      <div class="four wide column" style="color: white;">
        &copy; NHRD.com All Rights Reserved
      </div>

      <div class="eight wide column"></div>

      <div class="four wide column">
        <a><i style="color: white" class="large facebook icon"></i></a>
        <a><i style="color: white" class="large twitter icon"></i></a>
        <a><i style="color: white" class="large instagram icon"></i></a>
        <a><i style="color: white" class="large linkedin icon"></i></a>
      </div>
    </div>

  </div>
</div>
