<div id="t3" class="ui segment">
  <div class="ui two column very relaxed grid">

    <div class="column">

        <div id="t3a" class="ui container" >
          <h1 style="font-size: 3.4em">Happy HRs -</h1>
          <h1 style="font-size: 3.4em">NHRDN Podcasts</h1><br/>
          <p id="para">{{ paragraph }}</p><br/>
          <a id="b3" class="ui button">Join Us Now</a>
        </div>
    </div>

    <div class="column">
      <img id="mic" src="assets/podcast/mic.png"  />
      <img id="big" src="assets/podcast/big_pd.png"   />
      <img id="circle" src="assets/podcast/circle.png"  />
    </div>

  </div>
</div>
