<div id="t1" class="ui segment center aligned">
      <p>NHRD and our Fellows are responding to the COVID-19 crisis.   LEARN HOW</p>
</div>

<div id="t2" class="ui center aligned segment">
  <div class="ui grid" >
    <div class="three wide column">
      <img src="assets/top/nhrd.png"  alt="Logo" />
    </div>
    <div class="nine wide column">
      <p id="t2p1">{{para}}</p>
    </div>
    <div id="btnholder" class="four wide column">
      <a id="b1" class="ui button">Log In/Sign Up</a>
      <a id="b2" class="ui button">City Chapter</a>
    </div>
  </div>
</div>







